<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app
        id="servletSample"
        version="3.1"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xmlns="http://xmlns.jcp.org/xml/ns/javaee"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd">

    <servlet>
        <servlet-name>AsyncServlet</servlet-name>
        <servlet-class>asyncserv.ServletEntry</servlet-class>
        <async-supported>true</async-supported>
    </servlet>
    <servlet-mapping>
        <servlet-name>AsyncServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>boot.AsyncServletContextListener</listener-class>
    </listener>

</web-app>
